/* Slideshow */

.Container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100px;
}

.slideContainer {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 100px;
  width: 100%;
}

/* Buttons */

.dotContainer {
  text-align: center;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 8px;
  background-color: lightgrey;
}

.dot.active {
  background-color: black;
}
