@import "./components/assets/css/app.min.css";
@import "./components/assets/css/icons.min.css";
@import "./components/assets/css/vendor/jquery-jvectormap-1.2.2.css";

.object-fit {
  object-fit: contain;
}

.tasks {
  width: 17rem;
}

@media (min-width: 576px) {
  .dropdown-md {
    width: 240px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tool Card Hover Effect */
.tool-card {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.tool-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.f-column {
  flex-direction: column;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--ct-progress-bar-bg);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.multi-ellipsis {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.img-fit {
  width: 100%;
  border-radius: 2%;
}

iframe {
  width: 100%;
  height: 500px;
}

.pointer {
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

.setting-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: var(--ct-primary);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.setting-toggle-btn:hover {
  transform: rotate(90deg);
  color: #fff;
}


.topnav-navbar {
  position: fixed;
}

.leftside-menu {
  position: fixed !important;
  overflow-y: auto;
  z-index: 10;
  height: calc(100% - 60px);
}

.content-page {
  margin-left: 260px !important;
}